*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Html_img/homebg.png);
    min-height: 100vh;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* for Home page Hero text box */
.herotext {
    max-width: 720px;
    margin-top: 7%;
    color: #fff;
    margin-bottom: 4rem;
}

/* for Home page Main title */
.herotext h2 {
    font-size: 4rem;
    margin-bottom: 3.5rem;
}

.herotext h2 span {
    font-size: 3.2rem;
    font-weight: 450;
}

/* for Home page paragraph */
.herotext p {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
}

/* for Home page Buy button */
.herobtn {
    background-color: rgb(28, 114, 242);
    color: #fff;
    font-size: 35px;
    font-weight: 450;
    border: none;
    padding: 0 2.5rem;
    border-radius: 1rem;
}

/* for Home page Kind of NFT text */
.herotext h3 {
    margin-top: 3rem;
    font-size: 2.3rem;
    font-weight: 400;
}

/* Rensponsive for Hero page Main text box */
@media (max-width:1030px) {
    .herotext {
        margin-top: 11%;
    }

    .herotext h2 {
        font-size: 3.5rem;
        margin-bottom: 3.2rem;
    }

    .herotext h2 span {
        font-size: 2.8rem;
    }

    .herotext p {
        font-size: 2.3rem;
        margin-bottom: 3.3rem;
    }
}

/* form 801 */
@media (max-width:801px) {
    .herotext {
        margin-top: 12%;
    }

    .herotext h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
        font-weight: 450;
    }

    .herotext h2 span {
        font-size: 2.4rem;
        font-weight: 400;
    }

    .herotext p {
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }

    .herotext h3 {
        font-size: 2.1rem;
    }
}

/* from 701 */
@media (max-width:701px) {
    .herotext h2 {
        font-size: 2.7rem;
        margin-bottom: 2.5rem;
        font-weight: 410;
    }

    .herotext h2 span {
        font-size: 2.1rem;
    }

    .herotext p {
        font-size: 2.2rem;
        margin-bottom: 2.5rem;
    }

    .herotext h3 {
        font-size: 2rem;
    }
}

/* from 650 */
@media (max-width:650px) {
    .herotext{
       margin-top: 22%;
        }
}

/* from 520 */
@media (max-width:520px) {
.herotext{
    max-width: 480px;
}

    .herotext h2 {
        font-size: 2.5rem;
    }

    .herotext h2 span {
        font-size: 1.9rem;
        margin-bottom: 3rem;
        font-weight: 450;
    }

    .herotext p {
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }

    /* for Home page Buy button */
.herobtn {
    font-size: 1.7rem;
    font-weight: 400;
    padding: 0 2.3rem;
    border-radius: 1rem;
}

}

/* from 425 */
@media (max-width:425px) { 
        .herotext h2 {
            font-size: 2.1rem;
        }
    
        .herotext h2 span {
            font-size: 1.6rem;
        }
    
        .herotext p {
            font-size: 1.4rem;
        }
        .herotext h3 {
            font-size: 1.5rem;
        }
    }

/* from 350 */
@media (max-width:350px) { 
 
    .herotext h2 {
        font-size: 1.9rem;
    }

    .herotext h2 span {
        font-size: 1.5rem;
    }

    .herotext p {
        font-size: 1.3rem;
    }
    .herotext h3 {
        font-size: 1.3rem;
    }
}

/* From here on is Carousel Css */
.slide-container{
  width: 100%;
  padding: 1.2rem 0;
}

.swiper-wrapper,.card-wapper,.swiper,.slide-container{
    border: transparent !important;
}
.slide-content{
  margin: 0 30px;
  overflow: hidden;
  border-radius: 25px;
}

.card{
    background-color: transparent;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}


@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  /* .swiper-navBtn{
    display: none;
  } */
}

/* flip acard  */

.flipcard {
  width: 252px;
    height: 350px;
  margin: 25px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  }
  
  .flipcard.flipped {
  transform: rotateY( 180deg );
  }
  
  .flipcard-front, .flipcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .flipcard-front img, .flipcard-back img{
    height: 100%;
    width: 100%;
  }

  .flipcard-back {
  transform: rotateY(180deg);
  }

  .flipcard-back {
    position:relative;
    height:100%;
    width: 100%;
    overflow:hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    clip-path: border-box;
    }  
     .flipcard-back::before {
    z-index:-1;
    content:'';
    position:absolute;
    inset: -47%;
     background: linear-gradient(to bottom right, rgba(0, 208, 255, 0.5) 0%, rgba(245, 38, 249, 0.6) 100%); 
    animation: 8s linear infinite rot;
    }
    @keyframes rot {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }



  @media (max-width:1194px) {
    .flipcard {
        width: 222px;
        height: 320px;
      }
    }

        
@media (max-width:968px) {
                .flipcard {
                    width: 172px;
                    height: 270px;}
                } 
                
                
@media (max-width:651px) {
        .flipcard {
            width: 152px;
            height: 250px;
          }
        } 


@media (max-width:620px) {
            .flipcard {
                width: 132px;
                height: 230px;
              }
            } 

@media (max-width:540px) {
        
.flipcard {
     width: 112px;
     height: 210px;
 }

} 

            
          
        
 @media (max-width:420px) {
    
    .flipcard {
         width: 122px;
         height: 205px;
     }
   
     }

